.benefitContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center ;
}
.BenefitWaysTitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 52px;
    display: flex;
    align-items: center;
    letter-spacing: 0.007em;
    color: #FFFFFF;
}
.benefits{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
}
.benefit{
    position: relative;
    width: 450px;
    height: 586px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(141, 159, 244, 0.3);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.discount{
    position: absolute;
    top: -15%;
    right: -15%;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 52px;
    display: flex;
    align-items: center;
    letter-spacing: 0.007em;
    color: rgba(255, 255, 255, 0.86);
}
.priceInfo{
    position: relative;
}
.exPrice{
    position: absolute;
    top: -20px;
    left: -100px;
}
.price{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.007em;
    color: #FFFFFF;
}
.pricePer{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.007em;
    color: rgba(255, 255, 255, 0.75);
}
.opportunities{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.opportunity{
    display: flex;
    gap: 5px;
}
.getBtn {
    background: #8276FF;
    border-radius: 31.0938px;
    width: 211px;
    height: 54px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    border: none;
    color: #FFFFFF;
}
.timeFor{
    position: absolute;
    bottom: 0;
    right: 10%;
}